<div class="Product">
    <div class="image">
        <img src="../assets/sample1.jpg" alt="">
    </div>
    <div class="details">
        <div class="Head">
            <label for=""> Product Name</label>
            <label for="">Price</label>
        </div>
        <div class="description">
            <p>here goes the product description like lather, material and some other features</p>
        </div>
        <div class="BuyingOptions">
            <div class="Colors">
                <label for="Colors">Colors</label>
                <select name="Colors" aria-label="Default select example">
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Brown">Brown</option>
                </select>
            </div>

            <div class="Size">
                <label for="Size">Size</label>
                <select name="Size" aria-label="Default select example">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
        </div>
    </div>
</div>