<div class="Product">
    <div class="image">
        <img src={{ProdcutToShow.itempic}} alt="">
    </div>
    <div class="details">
        <div class="Head">
            <label for=""> {{ProdcutToShow.itemname}}</label>
            <label for="">Price</label>
        </div>
        <div class="description">
            <p>{{ProdcutToShow.itemdesc}}</p>
        </div>
        <div class="BuyingOptions">
            <div class="Colors">
                <label for="Colors">Colors</label>
                <select name="Colors" aria-label="Default select example">
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Brown">Brown</option>
                </select>
            </div>

            <div class="Size">
                <label for="Size">Size</label>
                <select name="Size" aria-label="Default select example">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
        </div>
        <div class="BuyingOptions">
            <div class="Colors">
                <label>Dimensions: {{ProdcutToShow.dimensions}}</label>
                <label>Line: {{ProdcutToShow.linename}}</label>
            </div>
            
            <div class="Size">
                <label>Type: {{ProdcutToShow.itemtype}}</label>
            </div>
        </div>
    </div>
</div>