<div class="AddressHeader">
    <h1>Edit Purchase Order</h1>
    <h2>Home / Edit Purchase Order</h2>
</div>
<div class="CreatePo" [formGroup]="CreatePo">
    <div>
        <button (click)=OperNewDealerForm()>NewDealer</button>
    </div>
    <div class="InputWraper">
        <label for="DealerName">Dealer Name</label>
        <select name="DealerName" type="text" id="DealerName" formControlName="DealerId" aria-label="Dealer Name"
            placeholder="Dealer Name" >
            <option *ngFor= "let Dealers of Dealers index as i" value={{Dealers.id}}>{{Dealers.name}}</option>
        </select>
    </div>
    <!-- <div class="InputWraper">
        <input name="DealerPo" type="text" formControlName="DealerPo" aria-label="DealerPo" placeholder="Dealer Po">
    </div>

    <div class="InputWraper">
        <input name="CorinthainPo" type="text" formControlName="CorinthainPo" aria-label="CorinthainPo"
            placeholder="CorinthainPo">
    </div> -->

    <div class="InputWraper">
        <label for="shipBy">Ship By</label>
        <input name="ShipBy" type="date" formControlName="shipBy" aria-label="SipBy"
            placeholder="shipBy">
    </div>

    <div class="InputWraper">
        <textarea name="Comments" type="text" formControlName="Comments" aria-label="Comments"
            placeholder="Comments" maxlength="200"> </textarea>
    </div>
    <div class="InputWraper">
        <button (click)=Submit() [disabled]="(!CreatePo.valid || Loading)? true: false">Update</button>
    </div>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>