<div class="AddressHeader">
    <h1>FreightPrices</h1>
    <h2>Home / FreightPrices</h2>
</div>
<div class="DataTableWraper">
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Current Price</th>
                <th class="LargeScreenOnly">Delivery Type</th>
                <th class="LargeScreenOnly">Port</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let FrightPrice of FrightPricesList index as i">
                <td>{{FrightPrice.locations}}</td>
                <td>$ {{FrightPrice.currentprice}}</td>
                <td class="LargeScreenOnly">{{FrightPrice.deliveryType}}</td>
                <td class="LargeScreenOnly">{{FrightPrice.port}}</td>
                <td><a (click) =  UpdateSinglePrice(FrightPrice) *ngIf = CheckRole()>Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>