<div class="AddressHeader">
    <h1>Log In</h1>
    <h2>Home  /  Log In</h2>
</div>

<div class="CreatePo" [formGroup]="LogInForm">
  
    <div class="InputWraper">
        <input name="EnterEmail" type="email" formControlName="UserName" aria-label="Email" placeholder="Email" >
    </div>
    <div class="InputWraper">
        <input name="EnterPassword" type="password" formControlName="Password" aria-label="Password" placeholder="Password">
    </div>
    <div class="InputWraper">
        <button class="btn btn-success" (click)=Submit()>LogIn</button>
    </div>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>