.topOfHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1% 8%;
    i {
        padding-right: 0.5rem;
        color: $footer-color;
    }
}

.middleOfHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 8%;
    height: 4rem;
    border-bottom: 0.2px solid lighten($Secondary-Color, 50);
    background-color: $Primary-color;

    i {
        color: $footer-color;
    }
    .right {
        text-align: right;
        cursor: pointer;
        transition: size 0.1s ease-in;
        &:hover {
            transform: scale(0.95);
        }
    }
    a {
        color: $Secondary-Color;
        text-decoration: none;
        font-size: 1.5rem;
    }
}

.bottomOfHeader {
    display: flex;
    justify-content: center;
    padding: 1% 8%;
    .CurrentPage{
        text-decoration: underline
    }
    ul {
        @include FlexAllCenter;
        li {
            position: relative;
            padding: 0.83em 1.04em;
            color: $Secondary-Color;
            font-size: 1.5em;
            font-weight: 400;
            label {
                cursor: pointer;
                white-space: nowrap;
                &:hover {
                    cursor: pointer;
                    color: lighten($Secondary-Color, 30%);
                }
            }
        }
    }
    #SubMenutitle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ul {
            background-color: $Primary-color;
        }
        #SubMenu {
            li {
                background-color: $Primary-color;
                border: 1px solid $Secondary-Color;
            }
            z-index: 1200;
            display: none;
            position: absolute;
            top: 3rem;
            left: 1rem;
            box-shadow: 0px 0px 3px rgb(73, 73, 73);
        }
        &:hover {
            #SubMenu {
                display: block;
                li {
                    display: block;
                    white-space: nowrap;
                    font-size: 1rem;
                    // margin: 2px;
                    label:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #menuCheckBox {
        display: none;
    }
}

#NormalCursor {
    &:hover {
        cursor: default;
        color: $Secondary-Color;
    }
}
