<div class="AddressHeader">
    <h1>Alfemo</h1>
    <h2>Home / Alfemo</h2>
</div>
<div class="SearchInput"><input type="text" placeholder="Search" (input) = "SearchPos($event)"></div>
<div class="DataTableWraper">
    <div>
        <table class="table">
            <thead>
                <tr class="tableheader">
                    <th *ngIf = "SelectionMode">Select</th>
                    <th class="LargeScreenOnly">Dealer Name</th>
                    <th >Dealer Po no</th>
                    <th >Port</th>
                    <th class="LargeScreenOnly">Status 
                        <i (click)="TurnOnSelectionMode()" title="Click And Choose Pos To push into Production" class="fas fa-industry">
                            <ul hidden>
                                <li *ngFor = " let Po of SelectedPos; index as i">{{Po.dealerPoNumber}}</li>
                            </ul>
                        </i>
                    </th>
                    <th class="LargeScreenOnly">Approved</th>
                    <th class=" ClickableHeader" (click) = "OrderPosByShipByDate()">Ship By</th>
                    <th >Details</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr class= "row" *ngFor="let P of DataOfCurrentPage index as i"  (click) = "SelectPo(P,i,$event)" [ngStyle]="{'font-weight': (CheckPoInSelectedPos(P)) ? 'bold' : 'normal'}">
                    <td *ngIf = "SelectionMode">
                        <input id="CheckPo{{i}}" type="checkbox" (check) = "SelectPo(P,i,$event)">
                    </td>
                    <td class="LargeScreenOnly ClickableTd" (click) = "ShowDealerProfile(P.dealer_id)">
                        {{DisplayDealerName(P.dealer_id)}}
                    </td>
                    <td>
                        {{P.dealerPoNumber}}
                    </td>
                    <td >
                        {{P.port}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{P.status}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{AdjustApprovalStatusForDisplay(P.approvalStatus)}}
                    </td>
                    <td>
                        {{P.shipBy | date:"MM/dd/yyyy"}}
                    </td>
                    <td class="td-btn">
                        <a (click)=VeiwPoDetails(P)>Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination" aria-label="Page navigation example">
            <ul>
                <li><button (click)=PreviousPage()>Previous</button></li>
                <li *ngFor="let PC of PageCountArray index as i" >
                    <button (click)=SliceDataForPaginantion(i) [ngClass] = "{'CurrentPage': CurrentPage === i}">{{i}}</button>
                </li>
                <li><button (click)=NextPage()>Next</button></li>
            </ul>
        </nav>
    </div>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>