<div class="footer">
    <div class="element">
        <div class="Ptitle">
            <a href="">Mack Distribution</a>
        </div>
        <div>
            <p>
                Furniture is miniature architecture that breathes life into your home. Lush Furniture Accessories creates
                amazing contours in furniture..
            </p>
        </div>
    </div>
    <div class="element">
        <div class="Ptitle">
            <a>Who We Are</a>
        </div>
        <div>
            <ul>
                <li>About US</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <div class="element">
        <div class="Ptitle">
            <a>Contact Us</a>
        </div>
        <div>
            <ul>
                <li>Address</li>
                <li>(00) 00 111 222</li>
                <li>info@example.com</li>
            </ul>
        </div>
    </div>
</div>