<div class="footer">
    <div class="element">
        <div class="Ptitle">
            <a href="">Mack Distribution</a>
        </div>
        <div>
            <p>
                Steel frame, European furniture style with American touch, last forever.
            </p>
        </div>
    </div>
    <div class="element">
        <div class="Ptitle">
            <a>Who We Are</a>
        </div>
        <div>
            <p>Furniture distributors for the largest manufactory in European.</p>
        </div>
    </div>
    <div class="element">
        <div class="Ptitle">
            <a>Contact Us</a>
        </div>
        <div>
            <ul>
                <li>252-258-3595</li>
                <li>Macksdisturburt@gmail.com</li>
            </ul>
        </div>
    </div>
</div>