<div class="top fadeshow1">
    <div class="left">
            <img src="../assets/PhoneIcon.png" alt="">
        <a>(00) 11 111 222</a>
    </div>
    <div class="right">
        <img src="../assets/email.png" alt="">
        <a>info@example.com</a>
    </div>
</div>
<div class="middle">
    <div>
        <a href="">Mack Distribution</a>
    </div>
    <div class="element">
        <input id="Searchinput" type="text" placeholder="Search">
        <button>
            <img class="search" src="../assets/searchicon.jpg" alt="">
        </button>
    </div>
    <div class="right">
            <img class="icon" routerLink="/LogIn" src="../assets/LoginIcon.png" alt="">
    </div>
</div>
<div class="bottom">
    <ul>
        <li routerLink = "">Home</li>
        <li routerLink = "CreatePO">CreatePo</li>
        <li routerLink = "MyPos">MyPos</li>
        <li routerLink = "Admin">Admin</li>
        <li routerLink = "Alfemo">Alfemo</li>
    </ul>
</div>