<div class="topOfHeader fadeshow1">
    <div class="left">
        <img src="../assets/PhoneIcon.png" alt="">
        <a>252-258-3595</a>
    </div>
    <div class="right">
        <img src="../assets/email.png" alt="">
        <!-- <i class="fas fa-envelope fa-lg"></i> -->
        <a>macksdistribution@gmail.com</a>
    </div>
</div>
<div class="middleOfHeader">
    <div>
        <a href="">Mack Distribution</a>
    </div>
    <div id="Hide" class="InputField">
        <input class="Hide" id="Searchinput"  type="text" placeholder="Search">
        <button class="">
            <img class="searchIcon" src="../assets/searchicon.jpg" alt="">
        </button>
    </div>
    <div class="right">
        <img class="LogInIcon " routerLink="/LogIn" src="../assets/LoginIcon.png" alt="" *ngIf="!Logged()">
        <a class="" (click)=LogOut() style="margin: 0.5%;"
        *ngIf="Logged()">LogOut:</a>
        <a class="" (click)=LogOut() *ngIf="Logged()" style="margin-left: 2px ;">{{SetUserName()}}</a>
    </div>
</div>
<div   class="bottomOfHeader">
    <label id="menuCheckBox" for="check">
        <img id="menuimg" src="../assets/menu.png" alt="">
    </label>
    <input type="checkbox" hidden id="check">
    <ul id="test">
        <li ><label routerLink="" for="check">Home</label></li>
        <li *ngIf = "CheckRole() === 'corinthian'"><label routerLink="CreatePO" for="check">Holley</label></li>
        <li *ngIf = "CheckRole() === 'corinthian'"><label routerLink="Dealers" for="check">Dealers</label></li>
        <li ><label routerLink="Catalog" for="check">Catalog</label></li>
        <li  *ngIf = "CheckRole() === 'corinthian'"><label routerLink="MyPos" for="check">MyPos</label></li>
        <li  *ngIf = "CheckRole() === 'admin'"><label routerLink="Admin" for="check">Mack</label></li>
        <li  *ngIf = "CheckRole() === 'alfemo'"><label routerLink="Alfemo" for="check">Alfemo</label></li>
        <li  *ngIf = "CheckRole() !== '' && CheckRole() !== null "><label routerLink="FrightPrices" for="check">FreightPrices</label></li>
    </ul>
</div>