<div class="Invoice" id="PDF">
    <div class="InvoiceHeader">
        <div class="SellerInfo">
            <label>SELLER:</label>
            <a>ALFEMO MOBILYA SAN. TIC.A.S.</a>
            <a> YEDİ EYLÜL MAH. CELAL UMUR CAD.NO:12</a>
            <a> TORBALI / IZMIR - TURKEY</a>
            <a> TEL : +90 232 999 30 00</a>
            <a> FAX : +90 232 853 10 75</a>
        </div>
        <div class="InvoiceInfo">
            <a>COMMERCIAL INVOICE</a>
            <div>
                <a>INVOICE DATE: </a>
                <a>{{InvoiceDate}}</a>
            </div>
            <div>
                <a>INVOICE NUMBER: </a>
                <input type="text" class="Draft">
            </div>
        </div>
        <div class="BuyerInfo">
            <div>
                <label>BUYER:</label>
                <a>Macks Furniture Warehouse</a>
                <a>1809 Dickinson Avenue, Greenville, NC</a>
            </div>

            <div>
                <label>Ship to</label>
                <a>{{CostumerAddressPart1}}</a>
                <a>{{CostumerAddressPart2}}</a>
                <a>{{CostumerAddressPart3}}</a>
            </div>
            <div>
                <label>Port</label>
                <a>{{Port}}</a>
            </div>
        </div>
    </div>
    <table class="ProductsDetails table ">
        <thead>
            <tr>
                <th>NO</th>
                <th>PRODUCT CODE</th>
                <th>PRODUCT</th>
                <th>PO</th>
                <th>QTY</th>
                <th>PACKS</th>
                <th>TOTALPACKS</th>
                <th>UNIT KG</th>
                <th>TOTAL KG</th>
                <th>UNIT CUBM</th>
                <th>TOTAL CUBM</th>
                <th>UNITPRICE</th>
                <th>TOTALPRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let CommercialInvoiceRow of PS_Details; index as i'>
                <td>{{CommercialInvoiceRow.NO}}</td>
                <td>{{CommercialInvoiceRow.PRODUCT_CODE}}</td>
                <td>{{CommercialInvoiceRow.PRODUCT}}</td>
                <td>{{CommercialInvoiceRow.Po}}</td>
                <td><input type="text" class="Draft" value="{{CommercialInvoiceRow.QTY}}"></td>
                <td>{{CommercialInvoiceRow.PACKS}}</td>
                <td>{{CommercialInvoiceRow.TOTAL_PACKS}}</td>
                <td>{{CommercialInvoiceRow.UNIT_KG}}</td>
                <td>{{CommercialInvoiceRow.TOTAL_KG}}</td>
                <td>{{CommercialInvoiceRow.UNIT_CUBM}}</td>
                <td>{{CommercialInvoiceRow.TOTAL_CUBM}}</td>
                <td>{{CommercialInvoiceRow.UNIT_PRICE}}</td>
                <td>{{CommercialInvoiceRow.TOTAL_PRICE}}</td>
                <td>
                    <a (click)=EditeProductDetails(CommercialInvoiceRow) class="button Draft">Edit</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{TotalQuantity}}</td>
                <td></td>
                <td>{{TotalPacks}}</td>
                <td></td>
                <td>{{TotalKG}}</td>
                <td></td>
                <td>{{TotalCUBM}}</td>
                <td></td>
                <td class="TotalPrice">Total: ${{TotalPrice}}</td>

            </tr>
            <tr name="Freight">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="TotalPrice">
                    <label>Freight:$</label>
                    <input type="number" class="Draft" (input)=AssignFreightPrice($event) value={{FreightPrice}}>
                </td>
            </tr>
            <tr name="Grant Total">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="TotalPrice">
                    Grand Total: ${{GrantTotal}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="InvoiceFooter">
        <div class="labels">
            <label>TRADE TERMS :</label>
            <!-- <label>NUMBER OF CONTAINER:</label> -->
            <label>TOTAL QUANTITY:</label>
            <label>TOTAL PACKAGES:</label>
            <label>G. WEIGHT(KGS):</label>
            <label>TOTAL FOB AMOUNT:</label>
            <label>TOTAL CIF AMOUNT:</label>
            <label>DESC.OF GOODS:</label>
            <label>PAYMENT :</label>
            <label>BANK DETAILS:</label>
            <label>SWIFT CODE:</label>
            <label>IBAN NO:</label>
        </div>
        <div class="values">
            <a name="TRADE TERMS">C&F SAVANNAH</a>
            <a name="TOTAL QUANTITY">{{TotalQuantity}}</a>
            <a name="TOTAL PACKAGES">{{TotalPacks}}</a>
            <a name="G. WEIGHT(KGS)">{{TotalKG}}</a>
            <a name="TOTAL FOB AMOUNT">$ {{TotalPrice}}</a>
            <a name="TOTAL CIF AMOUNT">$ {{GrantTotal}}</a>
            <select class="Draft">
                <option> UPHOLSTERED FURNITURE</option>
            </select>
            <select class="Draft" value=1>
                <option> CASH IN ADVANCE</option>
                <option> net 90</option>
                <option> net 65</option>
            </select>
            <a>ZIRAAT BANKASI / IZMIR COMMERCIAL BRANCH, IZMIR, TURKEY</a>
            <a>TCZBTR2A</a>
            <a>TR350001001751532978585010</a>
        </div>
    </div>
    <a class='generateInvoice Draft' (click)="GenerateInvoice()">Generate Invoice & ISF</a>
</div>