<div class="container">
    <div class="data">
        <div class="Side">
            <ul>
                <li>
                    <label>Dealer Name</label>
                </li>
                <li>
                    <label>Delaer Email</label>
                </li>
                <li>
                    <label>Dealer Po no</label>
                </li>
                <li>
                    <label>Corinthain Po No</label>
                </li>
                <li>
                    <label>Created By</label>
                </li>
                <li>
                    <label>Container No</label>
                </li>
                
            </ul>
            <ul>
                <li><a>{{ViewedPO.dealerName }}</a></li>
                <li><a>{{ViewedPO.dealerEmail}}</a></li>
                <li><a>{{ViewedPO.dealerPONumber }}</a></li>
                <li><a>{{ViewedPO.corinthianPO}} </a></li>
                <li><a>{{ViewedPO.userID }}</a></li>
                <li><a>{{ViewedPO.containerNumber}} </a></li>
            </ul>
        </div>
        <div class="Side">
            <ul>
                <li>
                    <label>Factory ETA</label>

                </li>
                <li>
                    <label>Factory ESA</label>

                </li>
                <li>
                    <label>Production Request Date</label>
                </li>
                <li>
                    <label>Status</label>

                </li>
                <li>
                    <label>Approval Status</label>

                </li>
                <li> 
                    <label>Corinthain Comments</label>
                </li>
                <li>
                    <label>Alfemo Comments</label>
                </li>
            </ul>
            <ul>
                <li><a>{{ViewedPO.factoryEstimatedArrivalDate | date:"MM/dd/yyyy"}} </a></li>
                <li><a>{{ViewedPO.factoryEstimatedShipDate | date:"MM/dd/yyyy"}} </a></li>
                <li><a>{{ViewedPO.productionRequestDate | date:"MM/dd/yyyy"}}</a></li>
                <li><a>{{ViewedPO.status}} </a></li>
                <li><a>{{AdjustingDataForDisplay(ViewedPO.approvalStatus)}} </a></li>
                <li><a>{{ViewedPO.comments}}</a></li>
                <li><a>{{ViewedPO.alfemoComments}}</a></li>
            </ul>
        </div>
    </div>
    <div id="buttons-1" class="buttons">
        <div name = "MackUpload" class="element">
            <label for="file">Upload Po</label>
            <input type="file" id="file" (change)=UploadPo($event)>
        </div>
        <div name="ProductionRequestDate" class="element">
            <label for="ProductionRequestDate">Production Request Date</label>
            <input name="ProductionRequestDate" type="date" (change)="SetNewDate($event)" aria-label="CorinthainPo">
        </div>
    </div>
    <div id="buttons-2" class="buttons">
        <a name="MackPo"  (click)=DownloadMackPo()>DownloadMackPo </a>
        <a name="ShippingDocs"  (click)=DownloadShippingDocument()>DownloadShippingDocs </a>
        <a name="CorinthainPo"  (click)=DownloadcorithainPo()>DownloadCorinthainPo </a>
        <a name="Reject" (click)=RejectPo()>RejectPo </a>
        <a name="Approve" (click)=ApprovePo()>ApprovePo </a>
        <a name="Update" (click) = "Update()">UpdatePo</a>
        <a name="ApplyChanges" (click)=Submit()>ApplyChanges</a>
    </div>
</div>
<ng-progress id="PoPopUProgress"></ng-progress>
<simple-notifications></simple-notifications>

<!-- <div class="PoDetails">
    <ul>
        <li><label>Dealer Name</label><a>{{ViewedPO.dealerName}}</a></li>
        <li><label>Delaer Email</label><a>{{ViewedPO.dealerEmail}}</a></li>
        <li><label>Dealer Po No</label><a>{{ViewedPO.dealerPONumber}}</a></li>
        <li><label>Corinthain Po No</label><a>{{ViewedPO.corinthianPO}}</a></li>
        <li><label>Created By</label><a>{{ViewedPO.userID }}</a></li>
        <li><label>Container No</label><a>{{ViewedPO.containerNumber}}</a></li>
        <li><label>Factory ETA</label><a>{{ViewedPO.factoryEstimatedArrivalDate | date:"MM/dd/yyyy"}}</a></li>
        <li><label>Factory ESA</label><a>{{ViewedPO.factoryEstimatedShipDate | date:"MM/dd/yyyy"}}</a></li>
        <li><label>Production Request Date</label><a>{{ViewedPO.productionRequestDate | date:"MM/dd/yyyy"}}</a></li>
        <li><label>Status</label><a>{{ViewedPO.status}}</a></li>
        <li><label>Approval Status</label><a>{{AdjustingDataForDisplay(ViewedPO.approvalStatus)}}</a></li>

    </ul>
</div> -->