<div class="PoDetails">
    <mat-dialog-content>
    <div class="PoDetailsWraper">
        <div class="Potest">
            <div class="labels">
                <label>Dealer Name</label>
                <label>Delaer Email </label>
                <label>Dealer Po</label>
                <label>Corinthain Po</label>
                <label>Created By</label>
                <label>Container No</label>       
            </div>
            <div class="labels">
                <a>{{ViewedPO.dealerName | EmptyField}}</a>
                <a>{{ViewedPO.dealerEmail | EmptyField}}</a>
                <a>{{ViewedPO.dealerPONumber | EmptyField}}</a>
                <a>{{ViewedPO.corinthianPO | EmptyField}}</a>
                <a>{{ViewedPO.userID | EmptyField}}</a>
                <a>{{ViewedPO.containerNumber | EmptyField}}</a> 
            </div>
        </div>
        <div class="Potest">
            <div class="labels">
                <label>Factory ETA</label>
                <label>Factory ESA</label>
                <label>Ship By</label>
                <label>Status</label>
                <label>Approval Status</label>
                <label *ngIf ="UserIsAdmin" >Created On</label>
            </div>
            <div class="labels">
                <a>{{ViewedPO.factoryEstimatedArrivalDate | date:"MM/dd/yyyy" | EmptyField }} </a>
                <a>{{ViewedPO.factoryEstimatedShipDate | date:"MM/dd/yyyy" | EmptyField }}</a>
                <a>{{ViewedPO.shipBy | date:"MM/dd/yyyy" | EmptyField }}</a>
                <a>{{ViewedPO.status | EmptyField}}</a>
                <a>{{AdjustingDataForDisplay(ViewedPO.approvalStatus) | EmptyField}}</a>
                <a *ngIf ="UserIsAdmin">{{ViewedPO.dateReceived | date:"MM/dd/yyyy" | EmptyField}}</a>
            </div>
        </div>
    </div>
    <div class="PoDetailsWraper">
        <div class="Potest">
            <label>Alfemo Comments</label>
            <p>{{ViewedPO.alfemoComments | EmptyField}}</p>
        </div>
        <div class="Potest">
            <label>Corinthain Comments</label>
            <p>{{ViewedPO.comments | EmptyField}}</p>
        </div>
    </div>
    <div  id="buttons-1" class="buttons">
        <div name="MackUpload" class="element">
            <label tabindex="-1" for="file">Upload Po</label>
            <input tabindex="-1" type="file" id="file" (change)=UploadPo($event)>
        </div>
        <div name="ProductionRequestDate" class="element">
            <label tabindex="-1" for="ProductionRequestDate">ShipBy</label>
            <input tabindex="-1" name="ProductionRequestDate" type="date" (change)="SetNewDate($event)" aria-label="CorinthainPo">
        </div>
    </div>
    <div id="buttons-2" class="buttons">
        <a name="MackPo" (click)=DownloadMackPo()>DownloadMackPo </a>
        <a name="ShippingDocs" (click)=DownloadShippingDocument()>DownloadShippingDocs </a>
        <a name="CorinthainPo" (click)=DownloadcorithainPo()>DownloadCorinthainPo </a>
        <a name="Reject" (click)=RejectPo()>RejectPo </a>
        <a name="Approve" (click)=ApprovePo()>ApprovePo </a>
        <a name="Delete" (click)=DeletePo()>DeletePo </a>
        <a name="Update" (click)="Update()">UpdatePo</a>
        <a name="ApplyChanges" id="SubmitButton" (click)=Submit()>ApplyChanges</a>
    </div>
    </mat-dialog-content>
</div>
<ng-progress id="PoPopUProgress"></ng-progress>
<simple-notifications></simple-notifications>

