<div class="AddressHeader">
    <h1>Catalog</h1>
    <h2>Home  /  Catalog</h2>
</div>
<div class="ProductSamples">
    <div class="card">
        <img src="../assets/sample1.jpg" alt="">
        <button class="Image-overlay">Add To Card</button>
    </div>
<div class="card">
    <img src="../assets/sample2.jpg" alt="">
    <button class="Image-overlay">Add To Card</button>
</div>
<div class="card">
    <img src="../assets/sample3.jpg" alt="">
    <button class="Image-overlay">Add To Card</button>
</div>
</div>