<div class="AddressHeader">
    <h1>Update  Dealer Info</h1>
    <h2> Update Dealer</h2>
</div>
<div class="CreatePo" [formGroup] = "DealerForm">
    <div class="InputWraper">
        <input type="text" placeholder="Dealer Name" formControlName = "DealerName">
    </div>
    <div class="InputWraper">
        <input type="text" placeholder="Dealer Email" formControlName = "DealerEmail">
    </div>
    <div class="InputWraper">
        <input type="text" placeholder="Customer #" formControlName = "DealerMobile">
    </div>
    <div class="InputWraper">
        <input type="text" placeholder="Dealer Address" formControlName = "DealerAddress">
    </div>
    <div class="InputWraper">
        <label for="port">Port Name</label>
        <select name="port" type="text" id="port" formControlName="DealerPort" aria-label="port Name" placeholder="port Name">
            <option *ngFor="let Port of Ports index as i" value={{Port._id}}>{{Port.portName}}</option>
        </select>
    </div>
    <div>
        <button (click) = "UpdateDealer()" [disabled] = "(!DealerForm.valid || Loading)? true: false">Submit</button>
    </div>
</div>
<simple-notifications></simple-notifications>