<div class="Slide">
    <img src="../assets/HomePagePic.jpg" alt="">
    <div class="overslide">
        <p>Reveal Yourself THROUGH YOUR CHOICE</p>
        <button (click) = "GoToCatalog()">Shop Now</button>
    </div>
</div>
<div class="ProductSamples">
    <div class="card">
        <img src="../assets/sample1.jpg" alt="">
        <button class="Image-overlay" >More Product</button>
    </div>
<div class="card">
    <img src="../assets/sample2.jpg" alt="">
    <button class="Image-overlay">More Product</button>
</div>
<div class="card">
    <img src="../assets/sample3.jpg" alt="">
    <button class="Image-overlay">More Product</button>
</div>
</div>