<div class="AddressHeader">
    <h1>Dealers</h1>
    <h2>Home / Dealers</h2>
</div>
<div class="SearchInput"><input type="text" placeholder="Search Dealers" (input) = "SearchDealersByDealerName($event)"></div>
<div class="DataTableWraper">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th >Name</th>
                    <th >Email</th>
                    <th class="LargeScreenOnly">Customer #</th>
                    <th class="LargeScreenOnly">Address</th>
                    <th>Edit</th>
                    <th class="LargeScreenOnly">Delete</th>
                    <th class="LargeScreenOnly">View</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let D of DataOfCurrentPage index as i">
                    <td >
                        {{D.name}}
                    </td>
                    <td >
                        {{D.email}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{D.mobile}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{D.address}}
                    </td>
                    <td >
                        <a type="button" (click)=ViewDealerProfile(D)>ViewProfile</a>
                    </td>
                    <td >
                        <a type="button" (click)=OpenEditDealerForm(D)>Edit</a>
                    </td>
                    <td class="LargeScreenOnly">
                        <a type="button" (click)=Delete(D)>Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination">
            <ul>
                <li><button (click)=PreviousPage()>Previous</button></li>
                <li *ngFor="let PC of PageCountArray index as i">
                    <button (click)=SliceDataForPaginantion(i) [ngClass] = "{'CurrentPage': CurrentPage === i}">{{i}}</button>
                </li>
                <li><button (click)=NextPage()>Next</button></li>
            </ul>
        </nav>
    </div>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>