<div class="AddressHeader">
    <h1>My Pos</h1>
    <h2>Home  /  My Pos</h2>
</div>
<div class="SearchInput"><input type="text" placeholder="Search" (input) = "SearchPos($event)"></div>
<div class="DataTableWraper">

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="LargeScreenOnly">Dealer Name</th>
                    <th class="LargeScreenOnly">Dealer Po no</th>
                    <th >Corinthain Po No</th>
                    <th class="LargeScreenOnly">Status</th>
                    <th class="LargeScreenOnly">Approved</th>
                    <th>Details</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let P of DataOfCurrentPage index as i">
                    <td class="LargeScreenOnly">
                        {{P.dealerName}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{P.dealerPONumber}}
                    </td>
                    <td >
                        {{P.corinthianPO}}
                    </td>
                    <td class="LargeScreenOnly">
                        {{P.status}}
                    </td>
        
                    <td class="LargeScreenOnly">
                        {{AdjustApprovalStatusForDisplay(P.approvalStatus)}}
                    </td>
                    <td>
                        <a (click) = "ViewPoDetails(P)">Details</a>
                    </td>
                    <td>
                        <a (click) = "OpenEditPoForm(P)" *ngIf = '!P.approvalStatus && UserIsAllowed'>Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination" aria-label="Page navigation example">
            <ul >
                <li>
                    <button (click)=PreviousPage()>Previous</button>
                </li>
                <li *ngFor="let PC of PageCountArray index as i">
                    <button (click)=SliceDataForPaginantion(i)>{{i}}</button>
                </li>
                <li>
                    <button (click)=NextPage()>Next</button>
                </li>
            </ul>
        </nav>
    </div>
</div>