<div class="AlfemoUpdateWraper">
  <a class="Close" (click)=Close()>X</a>
</div>
<div class="CreatePo" id="AlfemoUpdate" [formGroup]="UpdatedPo">
  <div class="InputWraper">
    <label for="Status">Status</label>
    <select name="Status" aria-label="Default select example" formControlName="Status" (change) = "AssignValidators($event)">
      <option value="confirm Po Receipt">Confirm Po Receipt</option>
      <option value="Waiting For Production">Waiting For Production</option>
      <option value="Production">In Production</option>
      <option value="ContainerBooked">Container Booked</option>
      <option value="Loading">Loading</option>
      <option value="Shipped">Shipped</option>
    </select>
  </div>

  <div class="InputWraper">
    <input name="ContainerNumber" type="text" formControlName="ContainerNumber" placeholder="Container Number">
  </div>
  <div class="InputWraper">
    <input name="FinalDestination" type="text" formControlName="FinalDestination" placeholder="Final Destination">
  </div>
  <div class="InputWraper">
    <label for="CorinthainPo">Factory Estimated Ship Date</label>
    <input name="CorinthainPo" type="date" formControlName="FactoryEstimatedShipDate" aria-label="CorinthainPo">
  </div>
  <div class="InputWraper">
    <label for="CorinthainPo">Factory Estimated arrival Date</label>
    <input name="CorinthainPo" type="date" formControlName="FactoryEstimatedArrivalDate" aria-label="CorinthainPo">
  </div>

  <div class="InputWraper">
    <label for="CorinthainPo">Comments</label>
    <textarea name="CorinthainPo" type="text" formControlName="AlfemoComents" aria-label="CorinthainPo"></textarea>
  </div>

  <div class="InputWraper">
    <label for="file">Upload Shipment Document</label>
    <input type="file" id="file" (change)=UploadPo($event) style="border: none;">
  </div>


  <div>
    <button (click)=Update() style="margin-bottom: 10px;" [disabled]="!UpdatedPo.valid" >Update</button>
  </div>
</div>
<ng-progress id="PopUProgress"></ng-progress>
<simple-notifications></simple-notifications>