<div class="AlfemoUpdateWraper">
  <a class="Close" (click)=Close()>X</a>
</div>
<div class="CreatePo" id="AlfemoUpdate" [formGroup]="UpdatedPo">
  <div class="InputWraper">
    <label for="Status">Status</label>
    <select name="Status" aria-label="Default select example" formControlName="Status"
      (change)="AssignValidators($event)">
      <option value="confirm Po Receipt">Confirm Po Receipt</option>
      <option value="Waiting For Production">Waiting For Production</option>
      <option value="In Production">In Production</option>
      <option value="Container Booked">Container Booked</option>
      <option value="Loading">Loading</option>
      <option value="Shipped">Shipped</option>
    </select>
  </div>

  <div class="InputWraper">
    <input name="ContainerNumber" type="text" formControlName="ContainerNumber" placeholder="Container Number">
  </div>
  <div class="InputWraper">
    <input name="FinalDestination" type="text" formControlName="FinalDestination" placeholder="Final Destination">
  </div>
  <div class="InputWraper">
    <label for="port">Port Name</label>
    <select name="port" type="text" id="port" formControlName="port" aria-label="port Name"
        placeholder="port Name" >
        <option *ngFor= "let Port of AllPorts index as i" value={{Port.portName}}>{{Port.portName}}</option>
    </select>
</div>
  <div class="InputWraper">
    <label for="ProductionStartDate">Production Start Date</label>
    <input name= 'ProductionStartDate' type='date' formControlName='ProductionStartDate' paceholder = 'ProductionStartDate'>
  </div>
  <div class="InputWraper">
    <label for="ProductionFinishDate">Production Finish Date</label>
    <input name= 'ProductionFinishDate' type='date' formControlName='ProductionFinishDate' paceholder = 'ProductionFinishDate'>
  </div>
  <div class="InputWraper">
    <label for="FactoryLoadDate">Factory Load Date</label>
    <input name= 'FactoryLoadDate' type='date' formControlName='FactoryLoadDate' paceholder = 'FactoryLoadDate'>
  </div>
  <div class="InputWraper">
    <label for="DateOfDeparture">Date Of Departure</label>
    <input name= 'DateOfDeparture' type='date' formControlName='DateOfDeparture' paceholder = 'DateOfDeparture'>
  </div>
  <div class="InputWraper">
    <label for="FactoryEstimatedShipDate">Factory Estimated Ship Date</label>
    <input name="FactoryEstimatedShipDate" type="date" formControlName="FactoryEstimatedShipDate">
  </div>
  <div class="InputWraper">
    <label for="FactoryEstimatedArrivalDate">Factory Estimated arrival Date</label>
    <input name="FactoryEstimatedArrivalDate" type="date" formControlName="FactoryEstimatedArrivalDate" >
  </div>

  <div class="InputWraper">
    <label for="AlfemoComents">Comments</label>
    <textarea name="AlfemoComents" type="text" formControlName="AlfemoComents"
      maxlength="200"></textarea>
  </div>

  <div class="InputWraper" *ngIf='PoToUpdate.shippingDocs == ""'>
    <label for="file">Upload Shipment Document</label>
    <input type="file" id="file" multiple=true (change)=SaveFileInObject($event) style="border: none;">
  </div>

  <div class="InputWraper" *ngIf='PoToUpdate.shippingDocs != ""'>
    <div class="File" *ngFor='let FileName of FilesNames; index as i'>
      <label>{{FileName}}</label>
      <i class="far fa-trash-alt" (click)="DeleteFileFromShippingDocs(FileName)"></i>
    </div>
  </div>
  <div class="InputWraper" *ngIf='PoToUpdate.shippingDocs != ""'>
    <label for="FilesArea">Add Files</label>
    <input type="file" id="FilesArea" multiple=true (change)="AddFilesToShippingDocs($event)">
  </div>

  <div>
    <button (click)=Submit() style="margin-bottom: 10px;" [disabled]="!UpdatedPo.valid">Update</button>
  </div>
</div>
<ng-progress id="PopUProgress"></ng-progress>
<simple-notifications></simple-notifications>