.DataTableWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.DataTableWraper .table {
  border-collapse: collapse;
  margin: 1.5rem 0px;
  font-size: 1.1rem;
  min-width: 15rem;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.15);
}

.DataTableWraper .table thead tr {
  background-color: #c2c2c2;
  color: #3c2e25;
  text-align: center;
  font-weight: bold;
}

.DataTableWraper .table td {
  padding: 0.8rem 0.9rem;
}

.DataTableWraper .table th {
  padding: 0.8rem 0.9rem;
}

.DataTableWraper .table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.DataTableWraper .table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.DataTableWraper .table tbody td {
  text-align: center;
  color: #3c2e25;
}

.DataTableWraper .table tbody tr:last-of-type {
  border-bottom: 2px solid #3c2e25;
}

.DataTableWraper .table tbody tr:hover {
  font-weight: bold;
}

.DataTableWraper .table tbody a {
  width: 100%;
  border: 1px solid #3c2e25;
  padding: 0.2rem;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.DataTableWraper .table tbody a:hover {
  background-color: #b99b85;
  color: #f5f5f5;
  border-color: #b99b85;
  cursor: pointer;
}

.DataTableWraper .table .ClickableHeader:hover, .DataTableWraper .table .ClickableTd:hover {
  cursor: pointer;
}

.DataTableWraper .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DataTableWraper .pagination ul button {
  background-color: transparent;
  border: 1px solid #3c2e25;
  border-radius: 5px;
  color: #3c2e25;
  font-size: 1.1rem;
  padding: 2px 4px;
  margin: 1px;
}

.DataTableWraper .pagination ul button:hover {
  cursor: pointer;
  background-color: #b99b85;
  color: white;
}

.DataTableWraper .pagination .CurrentPage {
  text-decoration: underline;
  font-weight: bold;
}

.DataTableWraper .DownLoad {
  color: #3c2e25;
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.DataTableWraper .DownLoad:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.SearchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SearchInput input {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.SearchInput input:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.topOfHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
  padding: 1% 8%;
}

.topOfHeader img {
  width: 5%;
  height: 100%;
  padding: 0% 1%;
}

.topOfHeader .left {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topOfHeader .right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middleOfHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 6rem;
  border-bottom: 0.2px solid #e3dad3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
}

.middleOfHeader button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6f5948;
  border-radius: 0 30px 30px 0;
  border: none;
  display: inline;
  width: 53px;
  height: 45px;
}

.middleOfHeader button:focus {
  outline: none;
}

.middleOfHeader .InputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middleOfHeader #Searchinput {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #afa4a4;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: none;
}

.middleOfHeader #Searchinput:focus {
  outline: none;
}

.middleOfHeader .searchIcon {
  width: 50%;
  height: 50%;
}

.middleOfHeader .LogInIcon {
  width: 40%;
}

.middleOfHeader .right {
  text-align: right;
  cursor: pointer;
  -webkit-transition: size 0.1s ease-in;
  transition: size 0.1s ease-in;
}

.middleOfHeader .right:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.middleOfHeader a {
  color: #6f5948;
  text-decoration: none;
  font-size: 1.5rem;
}

.middleOfHeader a:hover {
  color: #6f5948;
}

.bottomOfHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottomOfHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomOfHeader ul li {
  position: relative;
  padding: 0.83em 1.04em;
  color: #6f5948;
  font-size: 1.5rem;
  font-weight: 400;
}

.bottomOfHeader ul li label {
  cursor: pointer;
  white-space: nowrap;
}

.bottomOfHeader ul li label:hover {
  cursor: pointer;
  color: #bba695;
}

.bottomOfHeader #DealerSubMenutitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomOfHeader #DealerSubMenutitle #DealerSubMenu {
  display: none;
  position: absolute;
  top: 3rem;
  left: 1rem;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 3px #494949;
          box-shadow: 0px 0px 3px #494949;
}

.bottomOfHeader #DealerSubMenutitle #DealerSubMenu li {
  background-color: #f5f5f5;
  border: 1px solid #6f5948;
  margin-bottom: 2px;
}

.bottomOfHeader #DealerSubMenutitle:hover #DealerSubMenu {
  display: block;
}

.bottomOfHeader #DealerSubMenutitle:hover #DealerSubMenu li {
  display: block;
  white-space: nowrap;
  font-size: 1rem;
}

.bottomOfHeader #DealerSubMenutitle:hover #DealerSubMenu li label:hover {
  cursor: pointer;
}

.bottomOfHeader #menuCheckBox {
  display: none;
}

.footer {
  background-color: #3c2e25;
  padding: 7%;
  margin: 3% 0%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .InfoCard {
  text-align: center;
  width: 30%;
}

.footer .InfoCard .Ptitle {
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.footer .InfoCard a {
  color: white;
  text-decoration: none;
  cursor: none;
  margin-bottom: 20px;
}

.footer li {
  color: white;
  padding-bottom: 2%;
}

.ProductSamples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.ProductSamples img {
  width: 100%;
  height: 18rem;
  opacity: 1;
}

.ProductSamples button {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  background-color: #3c2e25;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.ProductSamples button:hover {
  color: white;
  opacity: 0.6;
  cursor: pointer;
}

.ProductSamples .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.AlfemoUpdateWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.AlfemoUpdateWraper .Close {
  position: absolute;
  width: 3%;
  background-color: transparent;
  border: 1px solid #b11818;
  color: #b11818;
  text-align: center;
  font-size: 1.1rem;
  top: 0;
  right: 0;
}

.AlfemoUpdateWraper .Close:hover {
  background-color: #b11818;
  color: white;
  cursor: pointer;
}

.File {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
  font-size: 1.1rem;
}

.File i {
  color: #3c2e25;
  -webkit-transition: width 0.7s ease-in;
  transition: width 0.7s ease-in;
}

.File i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#AlfemoUpdate {
  margin: 0%;
}

.Product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Product img {
  width: 100%;
}

.Product .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Product .details ul {
  margin: 10px;
}

.Product .details .Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  color: #89684f;
  font-size: 1.5rem;
}

.Product .details .Head label {
  margin-bottom: 15px;
  margin-left: 15px;
}

.Product .details .description {
  margin-left: 10px;
  color: #89684f;
  font-size: 1.1rem;
  border-bottom: 1px solid #e4e4e4;
}

.Product .details .description p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.Product .details .BuyingOptions {
  margin-left: 10px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Product .details .BuyingOptions label {
  margin-left: 15px;
  color: #89684f;
}

.Product .details .BuyingOptions select {
  margin-left: 15px;
  width: 175px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #b99b85;
}

.Product .details .BuyingOptions select:hover {
  cursor: pointer;
}

.PoDetails {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.PoDetails .buttons {
  padding: 0.5rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.PoDetails .buttons a {
  width: 12rem;
  border: 0.1rem solid #3c2e25;
  padding: 0.3rem;
  text-align: center;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}

.PoDetails .buttons a:hover {
  background-color: #b99b85;
  color: #f5f5f5;
  border-color: #b99b85;
  cursor: pointer;
}

.PoDetails .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.PoDetails .element label {
  font-size: 1rem;
}

.PoDetails .element input {
  font-size: 1rem;
  width: 15rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  border: 0.1rem solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.PoDetails .element input:focus {
  outline: none;
  border: 1px solid #3c2e25;
}

.Potest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Potest label {
  text-align: right;
  margin: 0.5rem;
  color: #3c2e25;
  font-size: 1.1rem;
  font-weight: bold;
}

.Potest a {
  text-align: left;
  margin: 0.5rem;
  color: #3c2e25;
  font-size: 1.1rem;
}

.Potest .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Potest p {
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem;
}

.PoDetailsWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  border: 0.01rem solid #e4e4e4;
  background-color: #f3f3f3;
}

#SubmitButton {
  border: 0.2rem solid #3c2e25;
}

#SubmitButton:hover {
  border-color: #b99b85;
}

.Slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Slide img {
  width: 86%;
  height: 38rem;
  position: relative;
}

.Slide .overslide {
  position: absolute;
  margin: 10%;
  padding-top: 12%;
}

.Slide .overslide button {
  width: 30%;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 3%;
  margin-top: 5%;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  font-size: 1.1rem;
}

.Slide .overslide button:hover {
  cursor: pointer;
  background-color: white;
  color: #3c2e25;
}

.Slide .overslide p {
  font-weight: 300;
  font-size: 2rem;
  color: white;
}

.AddressHeader {
  padding: 0.2rem;
  height: 5.5rem;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f4f4f4;
  color: #6f5948;
}

.AddressHeader h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 8px;
}

.AddressHeader h2 {
  font-size: 1.1rem;
  word-spacing: 10px;
}

.CreatePo {
  color: #3c2e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1% 30%;
}

.CreatePo .InputWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1%;
}

.CreatePo .InputWraper label {
  font-size: 1.1rem;
  margin-bottom: 2%;
}

.CreatePo select {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.CreatePo select:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo input {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.CreatePo input:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo textarea {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.CreatePo textarea:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo .file {
  border: none;
}

.CreatePo button {
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #3c2e25;
  color: #3c2e25;
  background: transparent;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-size: 1.5rem;
}

.CreatePo button:hover {
  cursor: pointer;
  background-color: #b99b85;
  border-color: #b99b85;
  color: white;
}

.CreatePo button:disabled {
  background-color: gray;
  color: white;
  border: gray;
}

.spinner-1 {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4rem;
  width: 4rem;
  margin: -2rem;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: coral;
  -webkit-animation: spinner 0.7s linear infinite;
          animation: spinner 0.7s linear infinite;
}

.SpinnerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0.6;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.DealerDetailsWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  border: 0.01rem solid #e4e4e4;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}

.DealerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DealerCard label {
  text-align: right;
  margin: 0.5rem;
  color: #3c2e25;
  font-size: 1.1rem;
  font-weight: bold;
}

.DealerCard a {
  text-align: left;
  margin: 0.5rem;
  color: #3c2e25;
  font-size: 1.1rem;
}

.DealerCard .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DealerCard p {
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem;
}

.Report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  margin: 2rem;
  color: #3c2e25;
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Report label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5rem;
}

.Report label:hover {
  cursor: pointer;
}

.Report .InputWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1%;
}

.Report .InputWraper label {
  font-size: 1.1rem;
  margin-bottom: 2%;
}

.Report select {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.Report select:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.Report .input {
  font-size: 1.1rem;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  width: 21rem;
  height: 2.8rem;
  border: 1px solid #e4e4e4;
  -webkit-transition: border 0.4s ease-in;
  transition: border 0.4s ease-in;
}

.Report .input:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.PoFiledCheckList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 1.5rem;
  border: 1px solid #cfcfcf;
}

.PoFiledCheckList .PoPropertyListHeader {
  font-weight: bold;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: -1rem;
  z-index: 10;
  background-color: white;
}

.CheckItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.CheckItem:hover {
  background-color: #f5f5f5;
}

.CheckAll {
  font-weight: bold;
  border-bottom: 1px solid #cfc0b4;
}

.button {
  border: 1px solid #3c2e25;
  padding: 0.2rem;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: #b99b85;
  color: #f5f5f5;
  border-color: #b99b85;
  cursor: pointer;
}

#Dealers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  border: 1px solid #cfcfcf;
  padding: 1rem;
  max-width: 30rem;
  min-width: 10rem;
  min-height: 5rem;
}

#Dealers .SearcHeader {
  font-weight: bold;
  position: absolute;
  top: -1rem;
  z-index: 10;
  background-color: white;
}

#Dealers .DealerId {
  margin: 0.5rem;
  border: 1px solid #6f5948;
  padding-left: 0.2rem;
}

#Dealers .DealerId .RemoveDealer {
  margin: 0.5rem;
}

#Dealers .DealerId .RemoveDealer:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.Options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FilterSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
  padding: 0.5rem;
  border: 1px solid #cfcfcf;
}

.FilterSection .OptionsHeader {
  font-weight: bold;
  position: absolute;
  top: -1rem;
  z-index: 10;
  background-color: white;
}

.FilterSection .DefaultReport {
  border: 2px solid #3c2e25;
}

.FilterSection .DefaultReport:hover {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 980px) {
  .fadeshow1 {
    display: none;
  }
  .fadeshow2 {
    display: none;
  }
  .CreatePo {
    margin: 2% 20%;
  }
  .Hide {
    display: none;
  }
  #Hide {
    display: none;
  }
  .ProductSamples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ProductSamples .card {
    margin-top: 0.5rem;
  }
  .bottomOfHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottomOfHeader #menuCheckBox {
    display: block;
  }
  .bottomOfHeader #menuCheckBox #menuimg {
    width: 32px;
    display: block;
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bottomOfHeader #menuCheckBox #menuimg:hover {
    cursor: pointer;
  }
  .bottomOfHeader ul {
    width: 100%;
    display: none;
  }
  .bottomOfHeader #DealerSubMenu {
    position: relative !important;
    color: red !important;
    top: 0.7rem !important;
    left: 2rem !important;
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .bottomOfHeader #DealerSubMenu li {
    border: none !important;
    background-color: white !important;
  }
  #check:checked + #test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100;
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  .PoDetails .data {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .PoDetailsWraper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .PoDetailsWraper label {
    text-align: left;
  }
  .PoDetailsWraper a {
    text-align: right;
  }
}

@media screen and (max-width: 650px) {
  .LargeScreenOnly {
    display: none;
  }
  .CreatePo {
    margin: 1%;
  }
  .CreatePo input, .CreatePo button, .CreatePo select, .CreatePo textarea {
    width: 15rem;
  }
  .CreatePo input:focus, .CreatePo button:focus, .CreatePo select:focus, .CreatePo textarea:focus {
    width: 15.5rem;
  }
  .AddressHeader h1, .AddressHeader h2 {
    font-size: 1rem;
  }
  .PoDetailsWraper label {
    text-align: left;
    font-size: 0.7rem;
  }
  .PoDetailsWraper a {
    text-align: right;
    font-size: 0.7rem;
  }
  .PoDetailsWraper p {
    font-size: 0.7rem;
  }
  .Close {
    display: block;
    text-align: center;
    min-width: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */