* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.top {
  display: flex;
  justify-content: space-around;
  color: #6f5948;
  font-size: 16px;
  font-family: "Poppins";
  padding: 1% 8%;
}

.top img {
  width: 5%;
  height: 100%;
  padding: 0% 1%;
}

.top .left {
  text-align: left;
  display: flex;
  justify-content: start;
  align-content: center;
}

.top .right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.middle {
  font-family: "Poppins";
  height: 6rem;
  display: flex;
  border-bottom: 0.2px solid #e3dad3;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: space-around;
}

.middle button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f5948;
  border-radius: 0 30px 30px 0;
  border: none;
  display: inline;
  width: 53px;
  height: 45px;
}

.middle button:focus {
  outline: none;
}

.middle .element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle #Searchinput {
  font-size: 18px;
  padding-inline-start: 10px;
  width: 350px;
  height: 45px;
  border: 1px solid #e4e4e4;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: none;
}

.middle #Searchinput:focus {
  outline: none;
}

.middle .search {
  width: 50%;
  height: 50%;
}

.middle .icon {
  width: 40%;
}

.middle .right {
  text-align: right;
  cursor: pointer;
  transition: size 1s ease-in;
}

.middle .right:hover {
  transform: scale(0.95);
}

.middle a {
  color: #6f5948;
  text-decoration: none;
  font-size: 22px;
}

.middle a:hover {
  color: #6f5948;
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.bottom ul li {
  padding: 0.83em 1.04em;
  color: #6f5948;
  font-size: 1.75em;
  font-weight: 400;
}

.bottom ul li:hover {
  cursor: pointer;
  color: #bba695;
}

.bottom ul li label {
  cursor: pointer;
}

.bottom #menu {
  display: none;
}

.Slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.Slide img {
  width: 86%;
  height: 38rem;
  position: relative;
}

.Slide .overslide {
  position: absolute;
  margin: 10%;
  padding-top: 12%;
}

.Slide .overslide button {
  width: 30%;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 3%;
  margin-top: 5%;
  transition: 0.4s ease-in;
  font-size: 19px;
}

.Slide .overslide button:hover {
  cursor: pointer;
  font-size: 19px;
  background-color: white;
  color: #3c2e25;
}

.Slide .overslide p {
  font-weight: 300;
  font-size: 30px;
  color: white;
}

.ProductSamples {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
}

.ProductSamples img {
  width: 100%;
  height: 18rem;
  opacity: 1;
}

.ProductSamples button {
  position: absolute;
  height: 100%;
  font-size: 20px;
  width: 100%;
  background-color: #3c2e25;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.ProductSamples button:hover {
  color: white;
  opacity: 0.6;
  cursor: pointer;
}

.ProductSamples .card {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer {
  background-color: #3c2e25;
  padding: 7%;
  margin: 3% 0%;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer .element {
  text-align: center;
  width: 30%;
}

.footer .element .Ptitle {
  padding-bottom: 20px;
  font-size: 22px;
}

.footer .element a {
  color: white;
  text-decoration: none;
  cursor: none;
  margin-bottom: 20px;
}

.footer li {
  color: white;
  list-style-type: none;
  padding-bottom: 2%;
}

.CreatePo {
  color: #3c2e25;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 30%;
}

.CreatePo .element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

.CreatePo .element label {
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.CreatePo select {
  font-size: 18px;
  padding-inline-start: 10px;
  width: 350px;
  height: 45px;
  border: 1px solid #e4e4e4;
  transition: border 0.4s ease-in;
}

.CreatePo select:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo input {
  font-size: 18px;
  padding-inline-start: 10px;
  width: 350px;
  height: 45px;
  border: 1px solid #e4e4e4;
  transition: border 0.4s ease-in;
}

.CreatePo input:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo textarea {
  font-size: 18px;
  padding-inline-start: 10px;
  width: 350px;
  height: 45px;
  border: 1px solid #e4e4e4;
  transition: border 0.4s ease-in;
}

.CreatePo textarea:focus {
  outline: none;
  width: 360px;
  border: 1px solid #3c2e25;
}

.CreatePo .file {
  border: none;
}

.CreatePo .title {
  font-size: 25px;
  font-weight: bold;
  margin: 3%;
}

.CreatePo button {
  width: 350px;
  height: 50px;
  border: 1px solid #3c2e25;
  color: #3c2e25;
  background: transparent;
  transition: 0.2s ease-in;
  font-size: 25px;
}

.CreatePo button:hover {
  cursor: pointer;
  background-color: #b99b85;
  border-color: #b99b85;
  color: white;
}

.CreatePo button:disabled {
  background-color: gray;
  color: white;
  border: gray;
}

.CreatePo button:disabled:hover {
  background-color: gray;
  color: white;
  border: gray;
}

.Grid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.Grid .ControlTool {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}

.Grid .ControlTool .Check {
  padding: 0.3rem;
}

.Grid .table {
  border-collapse: collapse;
  margin: 1.5rem 0px;
  font-size: 1.1rem;
  min-width: 15rem;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.15);
}

.Grid .table thead tr {
  background-color: #c2c2c2;
  color: #3c2e25;
  text-align: center;
  font-weight: bold;
}

.Grid .table td {
  padding: 0.8rem 0.9rem;
}

.Grid .table th {
  padding: 0.8rem 0.9rem;
}

.Grid .table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Grid .table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Grid .table tbody td {
  text-align: center;
  color: #3c2e25;
}

.Grid .table tbody tr:last-of-type {
  border-bottom: 2px solid #3c2e25;
}

.Grid .table tbody tr:hover {
  font-weight: bold;
}

.Grid .table tbody a {
  width: 100%;
  border: 1px solid #3c2e25;
  padding: 0.2rem;
  transition: background-color 0.3s ease-in;
}

.Grid .table tbody a:hover {
  background-color: #b99b85;
  color: #f5f5f5;
  border-color: #b99b85;
  cursor: pointer;
}

.Grid .Options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.Grid .Options a {
  width: 40%;
  border: 1px solid #3c2e25;
  text-align: center;
  padding: 5px;
  margin: 5px;
  transition: background-color 0.4s ease-in;
}

.Grid .Options a:hover {
  background-color: #b99b85;
  border-color: #b99b85;
  color: #f5f5f5;
  cursor: pointer;
}

.Grid .Close {
  position: absolute;
  width: 3%;
  background-color: transparent;
  border: 1px solid #b11818;
  color: #b11818;
  text-align: center;
  font-size: 18px;
  top: 0;
  right: 0;
}

.Grid .Close:hover {
  background-color: #b11818;
  color: white;
  cursor: pointer;
}

.Grid .UploadFile {
  color: #3c2e25;
  font-size: 15px;
}

.Grid .UploadFile label {
  margin: 10px;
}

.Grid .pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.Grid .pagination ul button {
  background-color: transparent;
  border: 1px solid #3c2e25;
  border-radius: 5px;
  color: #3c2e25;
  font-size: 19px;
  padding: 2px 4px;
  margin: 1px;
}

.Grid .pagination ul button:hover {
  cursor: pointer;
  background-color: #b99b85;
  color: white;
}

.AddressHeader {
  padding: 20px;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f4f4f4;
  color: #6f5948;
}

.AddressHeader h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 8px;
}

.AddressHeader h2 {
  word-spacing: 10px;
}

#AlfemoUpdate {
  margin: 10%;
}

.Product {
  display: flex;
  justify-content: space-evenly;
}

.Product img {
  width: 100%;
}

.Product .details {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.Product .details ul {
  list-style-type: none;
  margin: 10px;
}

.Product .details .Head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  color: #89684f;
  font-size: 28px;
}

.Product .details .Head label {
  margin-bottom: 15px;
  margin-left: 15px;
}

.Product .details .description {
  margin-left: 10px;
  color: #89684f;
  font-size: 19px;
  border-bottom: 1px solid #e4e4e4;
}

.Product .details .description p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.Product .details .BuyingOptions {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.Product .details .BuyingOptions label {
  margin-left: 15px;
  color: #89684f;
}

.Product .details .BuyingOptions select {
  margin-left: 15px;
  width: 175px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #b99b85;
}

.Product .details .BuyingOptions select:hover {
  cursor: pointer;
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.container .data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.2rem;
  border: 0.01rem solid #e4e4e4;
  background-color: #f3f3f3;
}

.container .data .Side {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container .data .Side ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.3rem;
}

.container .data .Side li {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 0.2rem;
}

.container .data .Side li label {
  padding: 0rem 0.5rem;
  margin: 0.5rem 0rem;
  opacity: 80%;
  max-width: 10rem;
  color: #3c2e25;
  font-size: 1.1rem;
  font-weight: bold;
}

.container .data .Side li a {
  padding: 0rem 0.5rem;
  margin: 0.5rem 0rem;
  color: #3c2e25;
  font-size: 1.1rem;
}

.container .buttons {
  padding: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.container .buttons a {
  width: 12rem;
  border: 0.1rem solid #3c2e25;
  padding: 0.3rem;
  text-align: center;
  transition: background-color 0.4s ease-in;
}

.container .buttons a:hover {
  background-color: #b99b85;
  color: #f5f5f5;
  border-color: #b99b85;
  cursor: pointer;
}

.container .element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.container .element label {
  font-size: 1rem;
}

.container .element input {
  font-size: 1rem;
  width: 18rem;
  padding-inline-start: 1rem;
  border: 0.1rem solid #e4e4e4;
  transition: border 0.4s ease-in;
}

.container .element input:focus {
  outline: none;
  border: 1px solid #3c2e25;
}

.PoDetails {
  max-height: 40rem;
  margin: 2rem 2rem;
}

.PoDetails ul {
  list-style-type: none;
  column-count: 2;
}

.PoDetails ul li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.PoDetails ul li a {
  display: block;
}

.PoDetails ul li label {
  display: block;
}

@media only screen and (max-width: 980px) {
  .fadeshow1 {
    display: none;
  }
  .fadeshow2 {
    display: none;
  }
  .CreatePo {
    margin: 2% 20%;
  }
  .Hide {
    display: none;
  }
  #Hide {
    display: none;
  }
  .ProductSamples {
    flex-direction: column;
  }
  .ProductSamples .card {
    margin-top: 0.5rem;
  }
  .bottom {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .bottom #menu {
    display: block;
  }
  .bottom #menu #menuimg {
    width: 32px;
    display: block;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .bottom #menu #menuimg:hover {
    cursor: pointer;
  }
  .bottom ul {
    width: 100%;
    display: none;
  }
  #check:checked + #test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  .container .data {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .LargeScreenOnly {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */