<div class="AddressHeader" style="height: 5rem;">
    <h1>Create New Product</h1>
</div>
<div class="CreatePo" [formGroup] = "NewProductForm">
    <div class="InputWraper"><input type="text" placeholder="Product Name" formControlName = "ProductName"></div>
    <div class="InputWraper"><input type="text" placeholder="Description" formControlName = "Description"></div>
    <div class="InputWraper"><input type="text" placeholder="Line Name" formControlName = "LineName"></div>
    <div class="InputWraper"><input type="text" placeholder="Dimensions" formControlName = "Dimensions"></div>
    <div class="InputWraper">
        <label for="file">Upload Image</label>
        <input class="file" type="file" id="file" (change)=SaveImageFileInObject($event)>
    </div>
    <div class="InputWraper">
        <label for="file">Upload Description File</label>
        <input class="file" type="file" id="file" (change)=SaveDescriptionFileInObject($event)>
    </div>
    <div class="InputWraper"><button (click) = Submit() [disabled]  = "!NewProductForm.valid">Submit</button></div>
    <div class="InputWraper"><button (click) = Close()>Cancel</button></div>
</div>
<ng-progress id="myProgress"></ng-progress>
<simple-notifications></simple-notifications>